{% extends "core/base.html" %}
{% load static %}

{% block page_content %}
    <div class="col-sm-3 d-none d-sm-block"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-5 bg-light d-flex shadow">
        <div class="d-flex m-auto flex-column align-items-center">
            <h3><i class="bi bi-person-circle mb-4"></i></h3>

            <h3 class="mb-4">INICIAR SESIÓN</h3>
            <a href="https://drt.sanfrancisco.gov.ar/login/contribuyente.aspx" class="btn btn-primary mb-3">Iniciar con CUIM</a>
            <a href="https://cidi.cba.gov.ar/portal-publico/?app=445"  class="btn btn-primary mb-3">Iniciar con CIDI</a>
            <!--button type="button" class="btn btn-primary">Ingreso 103</button-->
        </div>
    </div>
{% endblock %}